{% load static  %}
        <!-- Footer-->
<footer id="footer" class="py-5 bg-dark">
    <div class="container-fluid linesBig">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="borderLinesBig"></div>
          </div>
          <div class="col-4">
            <div class="textPc">Επικοινωνήστε μαζί μας</div>
          </div>
          <div class="col-4">
            <div class="borderLinesBig"></div>
          </div>
        </div>
      </div>
      <div class="grid-container-footer">
        <div class="time">
          <div class="timeWrapperFooter">
            <div class="timePosFooter">
                <div class="timePosFooter">
                  <div class="dayDateFooter">
                  Δευτέρα και Παρασκευή:
                  </div>
                  <div class="hoursFooter">
                    11:00 - 14:00 (11:00 AM - 2:00 PM)
                  </div>
                  <div class="dayDateFooter">

                  </div>
                  <div class="hoursFooter">
                    17:00 - 21:00 (5:00 PM - 9:00 PM)
                  </div>
                </div>
              <div class="timeZoneFooter">
                 Greek: Ώρα Ανατολικής Ευρώπης; EET; UTC+02:00
              </div>
            </div>
            <div class="bordersFooterMobile"></div>
          </div>
        </div>
        <div class="phone">
          <div class="wrapperPhoneFooter">
            <div class="phonesFooter">
              <div class="callFooter">ΕΠΙΚΟΙΝΩΝΙΑ</div>
            </div>
            <div class="phonesFooter">
              <div class="countryFooter">Email :     </div><div class="numberFooter">s.ameaserron@gmail.com</div>
            </div>
              <div class="phonesFooter">
              <div class="countryFooter"></div><div class="numberFooter">
                  <div class="fb-page"
                       data-tabs="timeline" data-width="" data-height="" data-small-header="true"
                       data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                      <a href="https://www.facebook.com/groups/236718957336120">
                          <img src="{% static 'images/1856380_circled_facebook_fb_media_network_icon.png' %}" alt="">
                      </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
            ΕΡΓΑΣΤΗΡΙΟ :
          </div>
          <div class="hoursFooter">
            ΟΜΗΡΩΝ 10, ΣΕΡΡΕΣ
          </div>
          <div class="dayDateFooter">

          </div>
          <div class="hoursFooter">

          </div>
          <div class="dayDateFooter">

          </div>
          <div class="hoursFooter">

          </div>
        </div>
      </div>
    </div>
        <div class="who">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; cbar Website 2024</p></div>
        </div>
      </div>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v19.0" nonce="sWy3zG0H"></script>
 </footer>
