{% extends 'blog/base.html' %}

{% block content %}
<h2>
	<strong>
		 ΙΣΤΟΣΕΛΙΔΑ ΠΛΗΡΟΦΟΡΙΕΣ
	</strong>
</h2>
<p>
	Ο Σύλλογος ιδρύθηκε το 1985 από γονείς παιδιών με αναπηρία με την συμπαράσταση των φίλων και επεκτείνεται σε όλο τον Νομό Σερρών.
</p>
<p>
	Είναι πιστοποιημένος φορέας παροχής κοινωνικών υπηρεσιών.                       
</p>
<p>
	Εγγεγραμμένο και ενεργό μέλος στα ανώτερα και ανώτατα όργανα λήψεως αποφάσεων στην Ελλάδα δηλαδή στην ΠΟΣΚΑμεΑ και στην ΕΣΑμεΑ.
</p>
<h3>
	<strong>
		 ΣΚΟΠΟΙ
	</strong>
</h3>
<p style="text-align: justify;">
	Η αρχή κάθε δυνατής ηθικής κοινωνικής και οικονομικής συμπαράστασης για την θεραπεία την αγωγή την εκπαίδευση την κοινωνική και επαγγελματική αποκατάσταση των ΑμεΑ κάθε ηλικίας.
</p>
<p style="text-align: justify;">
	Η παροχή κάθε δυνατής βοήθειας πληροφόρησης η άλλης συμπαράστασης προς τις οικογένειες των παιδιών ατόμων με αναπηρία.
</p>
<p style="text-align: justify;">
	Η υλοποίηση κοινοτικών προγραμμάτων η δημιουργία  και λειτουργία  κέντρου διημέρευσης και υποστήριξης η προώθηση και η χρήση νέων τεχνολογιών, δικτύου πληροφόρησης και  προώθησης δια μέσου αυτού προγραμμάτων κατάρτισης και ενημέρωσης η συνεργασία με τους καθ ύλη κατά κατηγορία αναπηρίας φορείς για την προώθηση των αιτημάτων του αναπηρικού κινήματος.                                      
</p>
<p style="text-align: justify;">
	Η συνεργασία με Διεθνείς Οργανώσεις για την ανταλλαγή εμπειριών και γνώσεων σχετικά με τα προβλήματα της αναπηρίας. Συμμετοχή και συνεργασία με διάφορα πανεπιστήμια σχετικά με τις μελέτες τους για την προώθηση και επίλυση των προβλημάτων των Παιδιών Ατόμων μεΑ. Η προώθηση πιλοτικών προγραμμάτων στον τομέα του συντονισμού του προγραμματισμού και της σύνδεσης της κατάρτισης για τις ανάγκες της αγοράς εργασίας. Η δημιουργία δικτύου με φορείς κοινωνικής προστασίας στην Ελλάδα η στις χώρες της Ευρωπαικής Ενωσης για την προώθηση προγραμμάτων κατάρτισης των ΑμεΑ.                                                                                                                                 
</p>
<p style="text-align: justify;">
	Η δημιουργία και λειτουργία ειδικών παραγωγικών κέντρων προστατευομένων εργαστηρίων για την επαγγελματική αποκατάσταση των Παδιών Ατόμων μεΑ. 
</p>
<p style="text-align: justify;">
	Η δημιουργία και λειτουργία μονάδων αυτόνομης ημιαυτόνομης και προστατευόμενης διαβίωσης καθώς και φιλοξενείου. Η ιδρυση-λειτουργία και συμμετοχή σε συνεταιρισμούς και κοινοπραξίες. Η συμμετοχή σε Αστικές μη κερδοσκοπικές εταιρίες καθώς και σε δημοτικές επιχειρήσεις με συναφείς σκοπούς. Η συμμετοχή σε αθλητικούς ψυχαγωγικούς και πολιτιστικούς φορείς. Η συνεργασία με αλλους φορείς.
</p>
<p style="text-align: justify;">
	Η υποστήριξη της οικογένειας του Παιδιων Ατόμων ΜΕΑ, η δημιουργία εντευκτηρίων βιβλιοθηκών και αλλων εγκαταστάσεων για την ψυχαγωγία μόρφωση και κοινωνική τους καλλιέργεια, εκτύπωση και κυκλοφορία εντύπων σχετικών με την αναπηρία , προσέλκυση εθελοντών. Ο σύλλογος στηρίζεται οικονομικά  από τις  συνδρομές    των  μελών   τις  εισφορές, τις επιχορηγήσεις, τις δωρεές, από τις εκδηλώσεις του σωματείου και από διάφορες άλλες κρατικές επιχορηγήσεις.
</p>
<h3>
	<strong>
		 ΔΙΟΙΚΗΣΗ
	</strong>
</h3>
<p>
	Ο Σύλλογος διοικείται από 7 μελές  συμβούλιο που   απαρτίζεται   από                                         
</p>
<ol>
	<li>
		Πρόεδρο                Παπάζογλου Μίσσα   Κατερινα
	</li>
	<li>
		Αντιπρόεδρο          Μπίκα Βασιλική
	</li>
	<li>
		Γεν Γραμ               Κατσάνη     Κατερινα
	</li>
	<li>
		Ταμία                    Χατζηκύρου     Βασιλική
	</li>
	<li>
		Μέλος                   Μίσσα    Ελένη
	</li>
	<li>
		Μέλος                   Πάτση    Χρυσούλα
	</li>
	<li>
		Μέλος                   Γρηγοριάδου Κυριακή                                     
	</li>
</ol>
<h3>
	<strong>
		 ΔΡΑΣΕΙΣ
	</strong>
</h3>
<p style="text-align: justify;">
	Λειτουργία παραγωγικών εργαστηρίων από το έτος 1999 έως και το 2010 σε διάφορους χώρους που κατά καιρούς μας παραχωρήθηκαν για χρήση  απασχολώντας  τουλάχιστον 25 παιδιά καθημερινώς . Τα ατομα αυτά αποτέλεσαν το πρώτο κύτταρο της δημιουργίας του ΚΔΑΠ ΑμεΑ του Δήμου Σερρών στον οποίο παραδώσαμε την μέχρι  τότε υπάρχουσα Νομοθεσία των  ΑμεΑ. Σήμερα λειτουργούμε επίσης επαγγελματικά εργαστήρια στις Σέρρες  επι της Οδού Ομήρων 10 με την επωνυμία ΣΤΗΡΙΖΩ. Τιμητική διάκριση από τον Πρόεδρο της Δημοκρατίας ως ο καλύτερος φορέας του Νομού για την παροχή υπηρεσιών κοινωνικής πρόνοιας.                                                             
</p>
<p style="text-align: justify;">
	Συμμετοχή στα ΣΠΕΣΙΑΛ ΟΛΥΜΠΙΚΣ με 4 αθλητές στην κολύμβηση που βραβεύθηκαν.                        
</p>
<p style="text-align: justify;">
	Συμμετοχή στις κατασκηνώσεις της ΠΟΣΚΑΜΕΑ ανελλιπώς από το από το έτος έναρξης έως και σήμερα.
</p>
<p style="text-align: justify;">
	Επισκέψεις στην Κύπρο και ιδιαίτερα το Λιοπέτρι Λεμεσό Λευκωσία Λάρνακα όπου συναντηθήκαμε και συνεργαστήκαμε με τους αντίστοιχους φορείς των γονέων παιδιών με  αναπηρία και  ανταλλάξαμε εμπειρίες.
</p>
<p style="text-align: justify;">
	Επισκέψεις (δύο) στις Βρυξέλες καλεσμένοι από Ευρωβουλευτές όπου τα παιδιά μας επισκέφθηκαν το Ευρωπαικό Κοινοβούλιο καθώς και αλλα αξιοθέατα. Συμμετείχαμε στην δράση της ΕΣΑΜΕΑ που πραγματοποιήθηκε στις Βρυξέλες για την συγκέντρωση των 1.200.000 υπογραφών για τα δικαιώματα των ΑΜΕΑ.
</p>
<p style="text-align: justify;">
	Συμμετοχή στην ομάδα που συγκροτήθηκε για την κάρτα αναπηρίας                                     
</p>
<p style="text-align: justify;">
	Συμμετοχή σε συνέδρια τόσο της ΠΟΣΓΚΑΜΕΑ όσο και της ΕΣΑΜΕΑ
</p>
<p style="text-align: left;">
	Συμμετοχή την ίδρυση και τον εξοπλισμό του οδοντιατρικού τμήματος των ΑΜΕΑ στο Νοσοκομείο Σερρών.
</p>
<p style="text-align: left;">
	Με ενέργειες  του Συλλόγου μας και μετά από την επίσκεψή μας στις Βρυξέλες αφού πείστηκαν οι αρμόδιοι της Ευρωπαικής Ενωσης ανεγέρθηκε και λειτούργησε το πρώτο σε ολη την Ελλάδα ΕΕΕΕΚ Σερρών. Συμμετοχή στην δράση του Δήμου Σερρών του έργου με τίτλο BREAKING  ISOLATION. Φροντίζουμε για την συνεχή επιμόρφωση και ενημέρωση των οικογενειών καθώς και για την ψυχολογική τους στήριξη.
</p>
<p style="text-align: left;">
	Ομιλία στην Δημόσια βιβλιοθήκη Σερρών με ομιλήτριες την δρ Αννα Παναγγιώτου και Κατερίνα Κατσάνη με αφορμή τη 3
	<sup>
		 ης 
	</sup>
	 Δεκέμβρη.
</p>
<h3>
	<strong>
		 ΣΤΟΧΟΙ
	</strong>
</h3>
<p style="text-align: justify;">
	Δημιουργία θέσεων εργασίας σε ΑΜΕΑστα ΚΔΑΠ-ΑΜΕΑ  άσχετα με τον αριθμό των εργαζομένων σ αυτά.
</p>
<p style="text-align: justify;">
	Δημιουργία Στεγών υποστηριζόμενης διαβίωσης. Δημιουργία κέντρων υποστήριξης και συμβουλευτικής των γονέων σε κάθε Δήμο, καθώς και γραφείο ψυχολογικής στήριξης όταν διαγιγνώσκεται η αναπηρία στο βρέφος… Προσβασιμότητα σε τουρισμό θάλασσα διασκέδαση διαδίκτυο κα
</p>
<p style="text-align: justify;">
	Μεταβίβαση του 100% της σύνταξης του θανόντος γονέα στο παιδί ΑΜΕΑ με ποσοστό αναπηρίας 50% και άνω χωρίς την περικοπή του προνοιακού επιδόματος.
</p>
<p style="text-align: justify;">
	Προσέλκυση εθελοντών   για την   συμπαράσταση  τους στην   ευρύτερη κοινωνικοποίηση  των παιδιών ατόμων με αναπηρία
</p>
<p>
	 
</p>
<p>
	 
</p>
<p>
	 
</p>
<p>
	 
</p>
<p>
	 
</p>



{% endblock %}